.input {
    box-sizing: border-box;
    border: 1px solid var(--Grey-700, rgba(50, 59, 84, 1));
    border-radius: 12px;
    background: var(--Black-10, rgba(0, 0, 0, 0.1));
    padding: 12px 16px 12px 16px;
    width: 384px;
    height: 64px;
}