.header {
    backdrop-filter: blur(40px);
    background: rgba(18, 24, 41, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.head-action {
    display: flex;
    gap: 6px;
}

.head-action__item {
    flex: 1 auto;
    cursor: pointer;
}