.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    backdrop-filter: blur(40px);
    background: rgba(18, 24, 41, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.head-action {
    display: flex;
    gap: 32px;
}

.head-action__item {
    flex: 1 auto;
    cursor: pointer;
}

.exit {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}