.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
    border: 1px solid var(--Grey-700, rgba(50, 59, 84, 1));
    border-radius: 12px;
    background: var(--Black-10, rgba(0, 0, 0, 0.1));
    padding: 12px 16px 12px 16px;
    width: 384px;
    height: 64px;
}

input {
    height: 100%;
    width: 100%;
}

input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}