.button {
  border-radius: 6px;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  font-size: 1rem;
  border: none;
}
.button:hover {
  background: #1d24a8;
}

.accent {
    background: #312EB5;
}
