.button {
    border: 2px solid var(--Primary-400, rgba(123, 110, 246, 1));
    border-radius: 12px;
    background: var(--Primary-400, rgba(123, 110, 246, 1));
    padding: 16px 32px 16px 32px;
}

.button:hover {
  background: #1d24a8;
}

.accent {
    background: #312EB5;
}
